@font-face {
  font-family: "HarryPotter"; 
  src: url("../fonts/HarryPotter.TTF");
}
body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background: #000 url("../img/hogwartscastle.jpg") no-repeat fixed center;
  color: #FFF;
}
h1 {
  font-family: "HarryPotter", "sans-serif";
  font-size: 2em;
}
input, .modal {
  color: #000;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}



/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--black {
  color: white;
  background-color: #000;
  opacity: 0.85;
}
.btn--white {
  color: #F3C500;
  background-color: #FFF;
  opacity: 0.8;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
  font-family: "HarryPotter", "sans-serif";
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.patronus, .crest {
  width: 6em;
}
#battleStats {
  background-color: lightgrey;
  font-size: 0.8em;
  opacity: 0.7;
  color: red;
  z-index: 0;
  position: relative;
  text-align: center;
}
#battleImage {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
#studentStats,
#deathEaterStats {
  font-size: .8em;
}

